<div id="<%= dom_id todo_item %>" class="ui-list-item">
  <p>
    <strong>Todo:</strong>
    <%= todo_item.todo_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= todo_item.title %>
  </p>

  <p>
    <strong>Done:</strong>
    <%= todo_item.done %>
  </p>

</div>
